# LaTeX
**/*.aux
**/*.out
**/*.log
**/*.xdv
**/*.dvi
**/*.pdf
**/*.fls
**/*.fdb_latexmk
**/*.acn
**/*.bbl
**/*.bcf
**/*.blg
**/*.acr
**/*.alg
**/*.glg
**/*.gls
**/*.glo
**/*.ist
**/*.lof
**/*.run.xml
**/*.toc
